data/raw/*
!data/raw/README.md
mlruns/

__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

venv/
.venv/
env/

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db
.env
.ipynb_checkpoints/
*.log
airflow.cfg
airflow.db
airflow.db-shm
airflow.db-wal
simple_auth_manager_passwords*.json
logs/
